body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.social-links {
}

.fb {
  padding-left: 10px;
  color: #4267b2;
}

.twitter {
  padding-left: 10px;
  color: rgb(29, 161, 242);
}

.social-medium {
  padding-left: 10px;
  color: #3e3e3e !important;
}

.github {
  padding-left: 10px;
  color: #3e3e3e;
}
